<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.4.0/fonts/remixicon.css" rel="stylesheet">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
		{{ encore_entry_link_tags('app') }}
		{# {{ asset('build/app.css')}} #}
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>

	<body id="admin">

		<header
			id="header-admin" class="container-fluid sticky-top bg264d7efoot">
			{# hamb #}
			{% if is_granted('ROLE_ADMIN') %}
				<div class="hamburger">
					<div></div>
					<div></div>
					<div></div>
				</div>
				{# fin hamb #}
				<div class="col-lg-12 d-lg-flex align-items-center justify-content-center d-none">
					<h1 class="text-white text-center"> {% block h1 %}{% endblock %}
						</h1>
					</div>
					{% include './admin/partial/menu.html.twig' %}
				{% endif %}
			</header>
			<main class="container-fluid p-0 m-0">
				<div class="col-12 col-lg-12 col-xl-12 w100 d-flex justify-content-end row p-0 m-0">
					<div class="col-12 col-xl-10 mt-5 d-flex justify-content-end flex-column my-auto"> {% block content %}{% endblock %}
						</div>
					</div>
				</main>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
				<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
				{{ encore_entry_script_tags('app') }}
			</body>
		</html>
