{% extends 'admin/base.html.twig' %}

{% block title %}Éditer catégorie
{% endblock %}
{% block h1 %}Éditer une catégorie
{% endblock %}

{% block content %}
	{{ form_start(formEdit, {'attr': {'class': 'col-12 col-md-12 col-xl-6 mx-auto mt-5', 'catergoyid': category.id}})}}
	<div class="form-row">
		<div class="form-group col-12 col-lg-7 p-0 m-0">
			{{ form_widget(formEdit.name, {'attr': {'class': 'form-control shadow-none','placeholder': 'Nom'}})}}
		</div>
		<div class="col-12 col-xl-4 d-flex-button m-button p-0 m-0">
			<button type="submit" class="btn bg264d7efoot text-white mb-3 shadow-none">Enregistrer</button>
		</div>
	</div>
	{{ form_end(formEdit) }}
{% endblock %}