#admin {
    font-family: 'Metal Mania', cursive;
}

#colorbg{
    background-color: #fafafa;
    font-family: 'Josefin Sans', sans-serif;
}

#main-title{
    margin-top: 30px;
    font-size: 50px;
}

.title-italic{
    font-style: italic !important;
}

.w80 {
    width: 80%;
}

.w60 {
    width: 60%;
}

.width-size {
    width: 285px;
}

.bord {
    border: none !important;
}

/* header */

#header-public {
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: rgba(#000, .2) 0 0 10px;
    .hamburger {
        display: none;
        div {
            background-color: #3f3f3f;
            height: 4px;
            margin-top: 10px;
            border-radius: 2px;
            width: 50px;
        }
    }
}

.textdark {
    color: #3f3f3f;
}

.hamb1 {
    height: 5px;
    width: 50px;
    border-radius: 30%;
    background-color: #d7d7d7;
}

.fontsize {
    font-size: 1.4em;
}

a:link {
    text-decoration: none;
}

/* footer */

.bg264d7efoot {
    background-color: #264d7e;
}

/* retouche header */

.header-opa {
    opacity: 0.9;
}

.bgD7D7D7 {
    background-color: #d7d7d7;
}

body,
a {
    color: #3f3f3f;
}

/* index */

#prestations {
    .prestation {
        position: relative;
        h4{
            text-align: center;
        }
        img,.overlay {
            border-radius: 2px;
        }
        img{
            margin-top: 10px;
            box-shadow: 5px 5px 10px rgba(#000, .75);
        }
        .overlay {
            transition: opacity 200ms linear;
            opacity: 0;
            position: absolute;
            top: 57px;
            left: 15px;
            right: 15px;
            bottom: 0;
            background-image: linear-gradient(to bottom, rgba(#fff, 0.8) 0%, rgba(#fff, 0.1) 100%);
            ul {
                text-align: center;
                margin-top: 30px;
            }
        }
        //& cible l'élément actuel (.prestation)
        &:hover, &.clicked{
            .overlay {
                opacity: 1;
            }
        }
    }
}

.height-picCarroussel {
    height: 717px;
}

.size-h4 {
    font-size: 1.2em;
}

.subtitle {
    font-size: 1.5em;
}

.titlecolor {
    color: #264d7e;
}

.bold {
    font-weight: bold;
    font-size: 1.5em;
}

.title-presta {
    font-size: 1.8em;
}

.bgF4F4F4 {
    background-color: #f4f4f4;
}

.zindex {
    z-index: 800;
}

/* end index */

.coucou {
    margin-left: 5px;
    margin-right: 10px;
}

/* prestation*/

.pos-absolute-presta {
    position: absolute;
    top: 300px;
    left: 215px;
}

.titlepresta {
    font-size: 4em;
    color: #264d7e;
}

.dflex {
    display: flex;
}

/*end prestation*/

/*contact*/

.color264d7e {
    color: #264d7e;
}

.resize {
    resize: none;
}

/*end contact*/

/*devis*/

.div-none {
    display: none;
}

.div-none-edit {
    display: none;
}

/*end devis*/

/*admin*/

i {
    line-height: 1;
}

#header-admin {
    padding-top: 35px;
    padding-bottom: 35px;

    .hamburger {
        display: none;
        div {
            background-color: #d7d7d7;
            height: 4px;
            margin-top: 10px;
            border-radius: 2px;
            width: 50px;
        }
    }
}

.btn264d7e {
    background-color: #264d7e;
}

#header-public {
    color: #3f3f3f;
    border-radius: 3px;
    &,#menu-public {
    background-color: #fafafa;
    }
    nav {
        margin-top: 10px;
    }
    #menu-public > i {
        opacity: 0;
        display: block;
        position: absolute;
        left: calc(100% - 30px - 30px);
        top: 20px;
        padding: 10px;
        ::before {
            font-size: 30px;
        }
    }
    
}

#menu {
    background-color: #d7d7d7;
    color: #3f3f3f;
    border-radius: 3px;

    nav {
        margin-top: 10px;
    }

    > i {
        opacity: 0;
        display: block;
        position: absolute;
        left: calc(100% - 30px - 30px);
        top: 20px;
        padding: 10px;

        ::before {
            font-size: 30px;
        }
    }
}




/* mobile*/

@media screen and (max-width: 1099px) {
    #menu-public nav {
        display: none;
    }
    #menu-public img {
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #menu-public,
    #header-public .hamburger {
        flex: 0 1 auto;
    }
    #header-public {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #header-public .hamburger {
        display: block;
        padding: 30px;
    }

    #header-admin {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #header-admin .hamburger {
        display: block;
        padding: 30px;
    }
    #menu nav {
        display: none;
    }

    #menu,
    #header-admin .hamburger {
        flex: 0 1 auto;
    }

    #menu img {
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .footmobile {
        display: none;
    }

    .text {
        color: white !important;
    }

    .height-picCarroussel{
        height: 400px;
    }
    .bg264d7e {
        background-color: #264d7e;
    }

    .titlesizemobile {
        font-size: 1.2em !important;
    }

    .subtitlemobile {
        font-size: 1em;
    }
    
    .fontsizemobile {
        font-size: 0.9em;
    }

    .w100 {
        width: 100%;
    }

    .h2sizemobile {
        font-size: 2em;
        color: #264d7e;
    }

    .galery-mobile {
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    .d-flex-button {
        display: flex !important;
        justify-content: end !important;
    }

    .m-button {
        margin-top: 15px !important;
    }
    

    .flex-mobile{
        flex-direction: column;
    }
}

/* desktop */
@media screen and (min-width: 1100px){
    #menu-public{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
@media screen and (min-width: 961px) {
    #menu {
        top: 30px;
        left: 30px;
        max-width: 230px;
        position: fixed;
        bottom: 0;
    }
}
@media screen and (max-width: 1024px) {
    .w100 {
        width: 100%;
    }
}

@media screen and (min-width: 1100px) {
    #menu-public li{
        border: solid 3px transparent;
    }
    #menu-public .selected {
        border-color: #264d7e;
    }
    #menu-public li:hover{
        border-color: #264d7e;
    }
}

@media screen and (min-width: 1024px) {
    .menu-fixed {
        position: fixed;
    }
    .m-button {
        margin-left: 10px !important;
    }
    
    .opa {
        opacity: 0.7;
    }
}
