.bord{
    border: 2px solid black !important;
}

.bold{
    font-weight: bold;
}

.width-table1{
    width: 250px;
}

.width-table-title{
    width: 610px;
}

.width-table-libelle{
    width: 500px;
}

.width-table-qupt{
    width: 80px;
}

.width-table-unite{
    width: 50px;
}

.width-table-qpt{
    width: 200px;
}
