
<header id="header-public" class="container-fluid mx-auto p-0 m-0 sticky-top">
	<div class="hamburger col-4">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div id="menu-public">
		<i class="ri-close-fill"></i>
		<img class="img-fluid col-8 col-lg-2 col-xl-2" src="/assets/image/logo/SmallLogo.png" alt="">
		<nav>
			<ul class="list-unstyled d-lg-flex align-items-xl-center fontsize bold ml-5">
				<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
					<a class="cc" href="/">Accueil</a>
				</li>
				<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
					<a class="cc" href="/prestation">Prestations</a>
				</li>
				<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
					<a class="cc" href="/realisation">Réalisations</a>
				</li>
				<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
					<a class="cc" href="/galery">Galerie</a>
				</li>
				<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
					<a class="cc" href="/devis">Devis</a>
				</li>
				<li class="pl-lg-2 pr-lg-2 textdark hov">
					<a class="cc" href="/contact">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

