{% extends 'public/base.html.twig' %}

{% block title %}Galerie
{% endblock %}

{% block content %}
	<div class="col-12 p-0 m-0 position-relative">
		<img class="img-fluid col-12 p-0 m-0" src="/assets/image/travaux.jpg" alt="">
		<div class="w80 pos-absolute-presta d-none d-lg-block">
			<h1 class="titlepresta">Galerie</h1>
			<h4 class="titlecolor ml-2">Couverture</h4>
		</div>
		<div class="col-12 d-lg-none text-center">
			<h2 class="h2sizemobile">Galerie</h2>
		</div>
	</div>
	<div class="col-12 my-5">
		<div class="col-12 col-lg-9 w100 w80 mx-auto d-lg-flex mb-3">
			<div class="col-9 mx-auto col-lg-3">
				<img class="w-100 img-fluid shadowed" src="/assets/image/test1rogner.png" alt="">
			</div>
			<div class="col-12 col-lg-9">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, reprehenderit explicabo labore optio amet voluptatem at incidunt quasi commodi aliquam facilis numquam tempore dolores, aut quod dignissimos quo quas vitae?</p>
			</div>
		</div>
		<div class="col-12 col-lg-9 w100 w80 mx-auto galery-mobile d-lg-flex mb-3">
			<div class="col-12 col-lg-9">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, reprehenderit explicabo labore optio amet voluptatem at incidunt quasi commodi aliquam facilis numquam tempore dolores, aut quod dignissimos quo quas vitae?</p>
			</div>
			<div class="col-9 mx-auto col-lg-3">
				<img class="w-100 img-fluid shadowed" src="/assets/image/test1rogner.png" alt="">
			</div>
		</div>
		<div class="col-12 col-lg-9 w100 w80 mx-auto d-lg-flex mb-3">
			<div class="col-9 mx-auto col-lg-3">
				<img class="w-100 img-fluid shadowed" src="/assets/image/test1rogner.png" alt="">
			</div>
			<div class="col-12 col-lg-9">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, reprehenderit explicabo labore optio amet voluptatem at incidunt quasi commodi aliquam facilis numquam tempore dolores, aut quod dignissimos quo quas vitae?</p>
			</div>
		</div>
		<div class="col-12 col-lg-9 w100 w80 mx-auto galery-mobile d-lg-flex mb-3">
			<div class="col-12 col-lg-9">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, reprehenderit explicabo labore optio amet voluptatem at incidunt quasi commodi aliquam facilis numquam tempore dolores, aut quod dignissimos quo quas vitae?</p>
			</div>
			<div class="col-9 mx-auto col-lg-3">
				<img class="w-100 img-fluid shadowed" src="/assets/image/test1rogner.png" alt="">
			</div>
		</div>
		<div class="col-12 d-flex justify-content-center">
			<a href="devis.php" class="btn text-white bg264d7efoot mb-5 mx-auto">Demande de devis</a>
		</div>
	</div>
{% endblock %}
